# Compiled Files
*.class
target
node_modules

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log

# IDE Files
*.iml
.idea
.idea/
.project
.settings
.classpath

# Operation files
Thumbs.db
Desktop.ini
.DS_Store
hs_err_pid*
